<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hw-1</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="search">
            <input class="search-bar" placeholder="Введите название организации" spellcheck="false">
            <button class="search-button">
                <img src="img/search.svg" alt="Поиск">
            </button>
        </div>
        <div class="git-card">
            <div class = "git-card-img">
                <p class="git-card-img-repo_first_letter">K</p>
            </div>
            <div class="git-card-info">
                <span class="git-card-info-repo_name">kts-school-frontend</span>
                <span class="git-card-info-org_name">ktsstudio</span>
                <div class="git-card-info-ru">
                    <div class="git-card-info-ru-star">
                        <img src="img/star.svg">
                    </div>
                    <div class="git-card-info-ru-raiting">123</div>
                    <span class="git-card-info-ru-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
        <div class="git-card">
            <div class = "git-card-img">
                <p class="git-card-img-repo_first_letter">K</p>
            </div>
            <div class="git-card-info">
                <span class="git-card-info-repo_name">very-long-repository-name-and-blablabla-u-know</span>
                <span class="git-card-info-org_name">ktsstudio</span>
                <div class="git-card-info-ru">
                    <div class="git-card-info-ru-star">
                        <img src="img/star.svg">
                    </div>
                    <div class="git-card-info-ru-raiting">123</div>
                    <span class="git-card-info-ru-updated">Updated 21 Jul</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>